.BoardCell {
  box-sizing: border-box;
  padding: 1px;
  margin: 1px;
}
.Tetro {
  position: relative;
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}
.ghost {
  border: 2px solid white;
}
.sparkle {
  position: absolute;
  z-index: 10;
  top: -2px;
  left: -2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 40%;
  height: 6px;
  width: 6px;
}
